<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading main-color-bg">
                    <h3 class="panel-title">Welcome</h3>
                </div>
                <div class="panel-body">
                    <section>
                        <h4>Welcome to the Book Logger!</h4>
                        <h5>You can <a href="#/createUser">Create User</a> or <a href="#/createBook">Create Book</a></h5>
                        <hr>
                        <h6><a href="#/proceed"><strong>Give book</strong></a></a> to a pupil</h6>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <toaster-container class="toaster main-toaster"
                       toaster-options="{'animation-class': 'toast-top-right', 'limit': 5}"></toaster-container>
</div>

